body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.btn-primary {
  background-color: var(--darkgreen);
  font-size: 12px;
}

.btn-primary:hover {
  background-color: white;
  color: var(--darkgreen);
  font-size: 12px;
}

.btn-outline-primary {
  background-color: white;
  color: var(--darkgreen);
  border-color: var(--darkgreen);
  font-size: 12px;
}

.btn-outline-primary:hover {
  background-color: var(--darkgreen);
  font-size: 12px;
}

/*----- Header/ Navbar -----*/
.navbar {
  font-family: var(--miriam);
  color: var(--light);
  background-color: var(--darkgreen);
}

.navbar-brand {
  font-family: var(--miriam);
  font-size: 24px;
  display: flex;
  align-items: flex-start;
}

.logo-nav {
  width: 28px;
  margin-left: 6px;
}

.profile-picture {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  object-fit: cover;
}

.nav-artwork {
  opacity: 100%;
}

/*--------------------------------------- Main -----*/
main {
  margin-top: 70px;
}

.form-control {
  font-size: 12px;
  padding-left: 40px
}

.icon-recherche {
  padding-left: 20px;
}

.filtre-bouton {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  margin-bottom: 10px;
}

.section-cartes {
  margin: 10px 0 10px 0;
}

.card-img-top {
  width: auto;
  height: 20vh;
  object-fit: cover;
  object-position: center;
  padding: 6px;
  border-radius: 10px;
}

.card-title {
  font-size: 1rem;
}

.card {
  font-size: 0.8rem;
  margin-top: 10px;
}

.card:hover {
  border-color: var(--green);
}

.card-body {
  padding: 4px;
}

.carte-vedette {
  max-width: 200px;
  padding-right: 0px;
  overflow-x: hidden;
}

.info-date {
  color: var(--green);
  justify-content: space-between;
  font-size: 10px;
}

.text-end {
  padding-left: 0px;
}

.info-artiste {
  justify-content: space-between;
}

.lien-info {
  color: var(--darkgreen);
  font-size: 12px;
  font-family: var(--inter);
}

.artist-picture {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  object-fit: cover;
}

.autre-oeuvre {
  height: 30vh;
}

#cartes-vedette {
  width: 140%;
}


/*----------------------------------- Footer -----*/
footer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: var(--darkgreen);
  padding: 1rem;
  margin-top: auto;
}

.footer-text {
  color: var(--light);
  font-family: var(--miriam);
  font-size: 12px;
}

.footer-picture {
  display: flex;
  justify-content: center;
  filter: grayscale(100) contrast(100) invert(100);
}